<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper>
    <select id="selectAll" resultType="BoardListDTO">
    SELECT *
    FROM(
        SELECT ROWNUM AS RN, BOARD.*
        FROM (SELECT B.BOARD_ID,
                     B.BOARD_TITLE,
                     U.NAME,
                     B.BOARD_REGISTER_DATE,
                     B.BOARD_UPDATE_DATE,
                     U.PROVIDER_ID,
                     (SELECT COUNT(*) FROM TBL_FILE F WHERE F.BOARD_ID = B.BOARD_ID) AS FILE_COUNT
              FROM TBL_BOARD B
                       JOIN TBL_USERS U
                            ON
                                U.PROVIDER_ID = B.PROVIDER.ID
              ORDER BY B.BOARD_UPDATE_DATE DESC

            )BOARD
        WHERE ROWNUM &lt;=#{endRow}
        )
    WHERE rn &gt; #{startRow}
    </select>


    <select id="countBoard">
        select count(*)
        from tbl_board
    </select>

    <select id="getSeq" resultType="long">
        select SEQ_BOARD.nextval from dual
    </select>
    <insert id="saveBoard">
        insert into TBL_BOARD
        values (#{boardId}, #{boardTitle}, #{boardCount},0,sysdate,sysdate, #{providerId})

    </insert>


    <select id="selectBoardDetail" resultType="BoardDetailDTO">
        SELECT
            B.BOARD_ID,
            B.BOARD_TITLE,
            B.BOARD_CONTENT,
            U.NAME,
            B.BOARD_VIEWS,
            B.BOARD_REGISTER_DATE,
            B.BOARD_UPDATE_DATE,
            U.PROVIDER_ID,
            (SELECT COUNT(*) FROM TBL_FILE F WHERE F.BOARD_ID=B.BOARD_ID)AS FILE_COUNT
        FROM
            TBL_BOARD B JOIN TBL_USERS U ON U.PROVIDER_ID = B.PROVIDER_ID
        WHERE B.BOARD_ID=#{boardId}
    </select>

    <update id="updateBoard">
    update tbl_board
    set BOARD_TITLE = #{boardTitle},
        BOARD_CONTENT=#{boardContent},
        BOARD_UPDATE_DATE=sysdate
    where BOARD_ID=#{boardId}
    </update>

    <delete id="deleteBoard">
        delete tbl_board
    </delete>

</mapper>